body{
    width: 100%;
    background-image: url('https://cdn.pixabay.com/photo/2021/04/13/23/25/paisaje-6176882_1280.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 2%;

}

.recuadro{
    
    margin:2%;
    width: 15%;
    padding-top: 2%;
    padding-bottom: 5%;
    background: transparent;
}

div div{
    margin-left: 0%;
    text-align: center;
    width: 100%;
    background: transparent;
    color: white;
    display: inline-block;
    font-size: 35px;
    
}
.uno{
    margin-left: 5%;
    height: 60%;
    width: 40%;
    border-radius: 50%;
    background: rgb(61, 59, 59);
    
}
.dos{
    margin-left: 5%;
    height: 60%;
    width: 40%;
    border-radius: 50%;
    background: rgb(61, 59, 59);
}
.tres{
    margin-left: 5%;
    height: 60%;
    width: 40%;
    border-radius: 50%;
    background: rgb(61, 59, 59);
}
.cuatro{
    margin-left: 5%;
    height: 60%;
    width: 40%;
    border-radius: 50%;
    background: rgb(61, 59, 59);
    
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
